---
title:
---

<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
		<script type="text/javascript" src="/assets/js/jquery.3.4.1.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				$(".nav-tag-{{page.tag}}").css("backgroundColor","#AAA");
				$("#header-menu-wrap").click(function(){
					$("#page-nav").css("display","block");
					$("#page-mask").css("display","block");
				});
				$("#nav-header-close-wrap").click(function(){
					$("#page-nav").css("display","none");
					$("#page-mask").css("display","none");
				});
			});
		</script>
	</head>
	<body>
		<header id="page-header">
			<div id="header-menu-wrap">
				<img id ="header-menu-img", src="/assets/blog/menu.png" />
			</div>
			<div id="header-title-wrap">
				<h1 id="header-title">
					{{ page.title }} 
				</h1>
			</div>
		</header>
		<div id="page-mask"></div>
		<nav id="page-nav">
			<div id="nav-wrap">
				<div id="nav-header-wrap">
					<div id="nav-header">
						<div id="nav-header-close-wrap">
							<img id ="nav-header-close", src="/assets/blog/close-nav.png" />
						</div>
					</div>
				</div>
				<div id="nav-info-wrap">
					<div id="nav-info">
						zhangyw
					</div>
				</div>
				<div id="nav-content-wrap">
				{% for tag in site.tags %}
					<a href="/tag/{{tag[0]}}.html">
						<div class="nav-content-item">{{ tag[0] }}</div>
					</a>
				{% endfor %}
				</div>
			</div>
		</nav>
		<div id="content">
				
			{% for post in site.posts %}
				<div class="post-wrap">
					<div class="post-title-wrap"> 
						<div class="post-title"> 
							<a href="{{ post.url }}"> {{ post.title }} </a>
						</div>
					</div>
					<div class="post-info-wrap">
						{% for tag in post.tags %}
						<a href="/tag/{{tag}}.html">
							<span class="post-tag"> {{ tag }} </span>
						</a>
						{% endfor %}
						<span class="post-date"> {{ post.date | date: "%Y年%m月%d日"}} </span>
					</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>