<!DOCTYPE html>
<html>
	<head>
	<title>zhangyw-{{ page.title }}</title>
	</head>
	<body>
	{{ content }}
		
		
	<!-- This is for Mathjax -->

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			TeX: {equationNumbers: {autoNumber: ["AMS"], useLabelIds: true}},
			"HTML-CSS": {linebreaks: {automatic: true}},
			SVG: {linebreaks: {automatic: true}}
		});
	</script>

	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	</body>
</html>